.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}
.item1{
    margin-top: 60px;
    margin-left: 30px;
}
.logo{
    height: 100px;
    width: auto;
}
.banner {
    height: 500px;
    width: 650px;
}
.links{
    float: right;
    height: 15px;
    width: 15%;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: black;
}
.signup{
    background-color: black;
    color: white;
    margin-left: 20px;
    margin-right: 50px;
}
h1{
    margin-top: 50px;
    margin-bottom: 0px;
}
h2{
    color: black;
    margin-top: 5px;
}
.locationinput{
    width: 70%;
    height: 25px;
    color: black;
    /* background: #FF5200; */
    margin: 40px auto auto 0px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    border-color: transparent;
}
#searchimg{
    height: 25px;
    width: auto;
}
::placeholder{
    color: black;
    text-decoration: none;
}
.location{
    border: none;
    background-color: transparent;
    position: absolute;
    top: 304px;
    left: 430px;
    padding: 11px;
    border-radius: 15px;
}
button:hover{
    background-color: #FF5200;
   
}
.findfood{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 0 2rem;
    letter-spacing: 0;
    color: white;
    background-color: #fc8019;
    line-height: 50px;
}
.cities{
    font-size: 15px;
    color: black;
    margin: 30px 0 10px 0;
    letter-spacing: -.2px;
    text-transform: uppercase;
}
.citylist{
    width: 570px;
    list-style: none;
    margin-top: 20px;
    padding: 2px;
}
.list{
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
    color: black;
    line-height: 1.5;
    letter-spacing: -.3px;
    text-decoration: none;
}
.list:nth-child(even){
    color: black;
}
.restaurants{
    background-color: black;
    color: black;
    padding: 15px;
    cursor: pointer;
    display: inline-block;
}